@charset "UTF-8";

body {
    background-color: #060679;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

div {
    text-align: center;
    padding: 8px;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 450px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

footer {
    color: white;
    text-align: center;
}